<%- include("./partials/header") %>

	<!-- NAV BAR -->
	<nav class="navbar navbar-expand-lg navbar-light" id="navbarcolor">
		<a href="/"><img id="navbarlogo" class="m-2" src="/pics/melodynitylogo.png" alt="MelodynityLogo"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="m-2 collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item col">
					<a class="nav-link font-weight-bold" href="/" alt="Home">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item col">
					<a class="nav-link font-weight-bold" href="/about" alt="About">About</a>
				</li>
				<li class="nav-item dropdown col">
					<a class="nav-link dropdown-toggle font-weight-bold" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" alt="StreamNowButton">
					Stream Now!
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="https://soundcloud.com/melodynity" alt="Soundcloud">Soundcloud</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#" alt="Spotify">Spotify</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="https://www.youtube.com/channel/UCQhfkcqH3_9t-DItavYGtqw" alt="Youtube">Youtube</a>
					</div>
				</li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item col">
					<a class="nav-link font-weight-bold disabled" href="/game">Placeholder <span class="sr-only">(current)</span></a>
				</li>
			</ul>
		</div>
	</nav>
	<!-- NAV BAR -->

	<!-- ALL SONG CARDS -->
	<div class="maintext">
		<div class="mx-sm-5">

			<h1 class="py-5">All Uploaded Songs</h1>
			<div class="row">
				<% songInfo.slice().reverse().forEach((song, index) => { %>
				<div class="col-md-6 mb-5">
					<div class="card homecards" style="width: 100%;">
						<div class="card-img-top" alt="Card image cap">
							<iframe class="homecards" width="100%" height="150px" scrolling="no" frameborder="no" allow="autoplay" src= "<%= song["embedLink"] %>" ></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"></div>
						</div>
						<div class="card-body">
							<h5 class="card-title"><%= song["title"] %></h5>
							<p class="card-text"><%= song["description"] %></p>
							<a href="<%= song["songLink"] %>" class="btn btn-info" target="_blank">Go to Soundcloud</a>
							<a href="/<%= song._id %>" class="btn btn-primary float-right">Discuss</a>
						</div>
					</div>
					
				</div>
				<% }) %>
			</div>
		</div>
	</div>
	<!-- ALL SONG CARDS -->




<%- include("./partials/footer") %>



